body{
  display: flex;
  height: 98.5vh;
  background-color: black;
}
#main{
  display: grid;
  background-color: black;
  align-items: baseline;
  justify-content: space-evenly;
  align-content: space-between;
  justify-items: center;
  overflow: unset;
}
input {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  color: aliceblue;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  margin: 1.25vw;
  font-size: 10vw ;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2.25vw;
}
input:hover {
  opacity: 60%;
}
.lightgrey {
  background-color: #a5a5a5;
  color: black;
}
.orange {
  background-color: #fe9505;
}
.darkgrey {
  background-color: #333333;
}
#zero {
  width: 42vw;
  border-radius: 100px;
}
#result {
  border: 2px solid;
  background-color: transparent;
  color: white;
  width: 90vw;
  height: 50vw;
  margin-bottom: 5vw;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-size: 26vw;
  overflow: auto;
  float: right;
  text-align: end;
  justify-content: end;
}
#result:hover{
  opacity: 100%;
}
